<html>
<head>
    <title>Data Science for Good: CareerVillage.org | Kaggle Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129799972-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129799972-1');
    </script>  
    <style type="text/css">
        * {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
        }

        .show {
            display: block;
        }

        .hide {
            display: none !important;
        }

        .tab {
            padding: 8px 16px;
            cursor: pointer;
            width: 256px;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
        }

        .tab_active {
            border-bottom: 2px solid black;
        }

        .content {
            padding: 32px;
            margin-top: 8px;
            border: 1px solid black;
        }

        table, tr {
            font-size: 12px !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th, td {
            padding: 4px 12px;
            font-size: inherit;
        }

        select, input, textarea {
            width: 100%;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

    </style>
</head>

<body style="margin: 32px;">
<h2 style="font-size: 24px;">Kaggle Demo</h2>
<h3 style="font-size: 20px;"><a href="https://www.kaggle.com/c/data-science-for-good-careervillage">Data Science for Good: CareerVillage.org</a></h3>
<h4 style="font-size: 18px;">Live Demo with NN based fast similarity search</h3>
<h5 style="font-size: 14px;">Proposed method takes into account all the possible content features using custom Neural Network Architecture. <br> Allows automatically find a probability mapping between question and professional entities in all of the combinations (que-que, que-pro, pro-que, pro-pro)</h4>

<div style="display: flex;">
    <div id="questions_tab" class="tab tab_active">
        Question
    </div>
    <div id="professionals_tab" class="tab">
        Professional
    </div>
</div>
<div id="questions_content" class="content show">
    <div style="margin-bottom: 20px;"><b>Finds similar questions to given student and question</b></div>
    <div style="display: flex;">
        <form id="questions_form" style="display: block; min-width: 320px;">
            <label>Student selector</label>
            <select name="questions_author_id" style="display: block">
                <option value="8f6f374ffd834d258ab69d376dd998f5">Student 1 a lot of info</option>
                <option value="12a89e96755a4dba83ff03e03043d9c0">Student 2 a lot of info</option>
                <option value="e37a5990fe354c60be5e87376b08d5e3">Student 3 a lot of info</option>
                <option value="12b402cceeda43dcb6e12ef9f2d221ea">Student 4 a lot of info</option>
                <option value="a0f431fc79794edcb104f68ce55ab897">Student 5 a lot of info</option>
                <option value="23aea4702d804bd88d1e9fb28074a1b4">Student 6 a lot of info</option>
                <option value="18a8f9363cd24a37b690e1b205146b14">Student 7 a lot of info</option>
                <option value="d21c67279ada49d1bcf66ad620c00911">Student 8 a lot of info</option>
                <option value="433c0f5f90344453ba50ec8aee5fdfa4">Student 9 a lot of info</option>
                <option value="f0a7d23c3d374f8d9a1a5eb9b96eab0f">Student 10 a lot of info</option>
            </select>
            <br>

            <label>Question Title</label>
            <input name="questions_title" style="display: block" placeholder="Study Law">
            <br>

            <label>Question Body</label>
            <textarea name="questions_body" rows="6" style="display: block" placeholder="I want to study law but not sure what subjects need to be taken, so need some advice on that."></textarea>
            <br>

            <label>Question Tags</label>
            <input name="questions_tags" style="display: block" placeholder="law justice judge">
            <br>

            <!--<button type="submit">Submit</button>-->
            <button type="reset">Clear</button>
        </form>

        <div style="display: block; margin-left: 32px;">
            <div id="questions_empty" style="display: flex; align-items: center; justify-content: center; width: 320px;"
                 class="show">
                Please, fill form and submit it
            </div>

            <table id="questions_table" style="display: block; word-break: break-all;" class="hide">
                <thead>
                <tr>
                    <th style="width: 10%">score</th>
                    <th style="width: 20%">title</th>
                    <th style="width: 20%">body</th>
                    <th style="width: 10%">tags</th>
                    <th style="width: 10%">date</th>
                    <th style="width: 10%">question_id</th>
                    <th style="width: 10%">author_id</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="professionals_content" class="content hide">
    <div style="margin-bottom: 20px;"><b>Finds relevant questions for professional to answer</b></div>
    <div style="display: flex;">
        <form id="professionals_form" style="display: block; min-width: 320px;">
            <label>Professional Selector</label>
            <select name="professionals_id" style="display: block">
                <option value="2fe502d5ca75449aace3e278eb1398d9">Professional 1 a lot of info</option>
            </select>
            <br>

            <button type="submit">Submit</button>
            <button type="reset">Clear</button>
        </form>

        <div style="display: block; margin-left: 32px;">
            <div id="professionals_empty"
                 style="display: flex; align-items: center; justify-content: center; width: 320px;"
                 class="show">
                Please, fill form and submit it
            </div>

            <table id="professionals_table" style="display: block; word-break: break-all;" class="hide">
                <thead>
                <tr>
                    <th style="width: 10%">score</th>
                    <th style="width: 20%">title</th>
                    <th style="width: 20%">body</th>
                    <th style="width: 10%">tags</th>
                    <th style="width: 10%">date</th>
                    <th style="width: 10%">question_id</th>
                    <th style="width: 10%">author_id</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div><i>by <a href="https://datarootlabs.com">data root labs</a> team</i></div>
</body>

<script>
    var apiPath = "/api"

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();

        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $("#questions_tab").on('click', function (e) {
        $(this).addClass("tab_active")
        $("#professionals_tab").removeClass("tab_active")
        $("#questions_content").addClass("show").removeClass("hide")
        $("#professionals_content").addClass("hide").removeClass("show")
    })

    $("#professionals_tab").on('click', function (e) {
        $(this).addClass("tab_active")
        $("#questions_tab").removeClass("tab_active")
        $("#professionals_content").addClass("show").removeClass("hide")
        $("#questions_content").addClass("hide").removeClass("show")
    })

    $("#questions_form").on('input', function (e) {
        e.preventDefault();
        var data = $(this).serializeObject()

        $.ajax({
            url: apiPath + '/question',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data) {
                console.log("ok")
                console.log(data)

                $("#questions_empty").addClass("hide").removeClass("show")
                $("#questions_table").addClass("show").removeClass("hide")

                $("#questions_table>tbody").empty();

                $.each(data, function () {
                    $("#questions_table>tbody").append('<tr><td><b>' + this.match_score + '</b></td><td>' + this.questions_title + '</td><td>' + this.questions_body + '</td><td>' + this.tags_tag_name + '</td><td>' + this.questions_date_added + '</td><td>' + this.questions_id + '</td><td>' + this.questions_author_id + '</td></tr>')
                })
            },
            error: function (e) {
                console.log(e)
            }
        });
    }).on('reset', function (e) {
        console.log("clear")
        $("#questions_table").addClass("hide").removeClass("show")
        $("#questions_empty").addClass("show").removeClass("hide")
    })

    $("#professionals_form").on('input, submit', function (e) {
        e.preventDefault();
        var data = $(this).serializeObject()

        $.ajax({
            url: apiPath + '/professional',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data) {
                console.log("ok")
                console.log(data)

                $("#professionals_empty").addClass("hide").removeClass("show")
                $("#professionals_table").addClass("show").removeClass("hide")

                $("#professionals_table>tbody").empty();

                $.each(data, function () {
                    $("#professionals_table>tbody").append('<tr><td><b>' + this.match_score + '</b></td><td>' + this.questions_title + '</td><td>' + this.questions_body + '</td><td>' + this.tags_tag_name + '</td><td>' + this.questions_date_added + '</td><td>' + this.questions_id + '</td><td>' + this.questions_author_id + '</td></tr>')
                })
            }
        });
    }).on('reset', function (e) {
        console.log("clear")
        $("#professionals_table").addClass("hide").removeClass("show")
        $("#professionals_empty").addClass("show").removeClass("hide")
    })
</script>
</html>
