<html>
<head>
    <title>Data Science for Good: CareerVillage.org | Kaggle Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129799972-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129799972-1');
    </script>  
    <style type="text/css">
        * {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
        }

        .show {
            display: block;
        }

        .hide {
            display: none !important;
        }

        .tab {
            padding: 8px 16px;
            cursor: pointer;
            width: 256px;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
        }

        .tab_active {
            border-bottom: 2px solid black;
        }

        .disabledTab{
            pointer-events: none;
            padding: 8px 16px;
            cursor: pointer;
            width: 256px;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
        }

        .content {
            padding: 32px;
            margin-top: 8px;
            border: 1px solid black;
        }

        table, tr {
            font-size: 12px !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th, td {
            padding: 4px 12px;
            font-size: inherit;
        }

        select, input, textarea {
            width: 100%;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

    </style>
</head>

<body style="margin: 32px;">
<h2 style="font-size: 24px;">Kaggle Demo</h2>
<h3 style="font-size: 20px;"><a href="https://www.kaggle.com/c/data-science-for-good-careervillage">Data Science for Good: CareerVillage.org</a></h3>
<h4 style="font-size: 18px;">Live Demo with NN based fast similarity search</h3>
<h5 style="font-size: 14px;">Proposed method takes into account all the possible content features using custom Neural Network Architecture. <br> Allows automatically find a probability mapping between question and professional entities in all of the combinations (que-que, que-pro, pro-que, pro-pro)</h4>

<div style="display: flex;">
    <div id="questions_tab" class="tab tab_active">
        Question
    </div>
    <div id="professionals_tab" class="tab" >
        Professional
    </div>
</div>
<div id="questions_content" class="content show">
    <div style="margin-bottom: 20px;"><b>Finds similar questions to given student and question</b></div>
    <div style="display: flex;">
        <form id="questions_form" style="display: block; min-width: 320px;">
            <label>Student selector</label>
            <select name="questions_author_id" style="display: block">
                <option value="9658267bc2564a85bad1e802de5fb597">Id: 9658267bc2564a85bad1e802de5fb597; Location: Wayne, Pennsylvania</option>
                <option value="d49795757f274dd690bdce3936edea20">Id: d49795757f274dd690bdce3936edea20; Location: New York, New York</option>
                <option value="fae3c431698a418882c4204e5f3ee244">Id: fae3c431698a418882c4204e5f3ee244; Location: Lakewood, Ohio</option>
                <option value="2e67080928c74a4d863b2bcc60921152">Id: 2e67080928c74a4d863b2bcc60921152; Location: London, Ontario, Canada</option>
                <option value="94f41c4228e2452aa8ddf786d02b06c0">Id: 94f41c4228e2452aa8ddf786d02b06c0; Location: Burlingame, California</option>
                <option value="da1239a179894367a43dfa56c8ef6515">Id: da1239a179894367a43dfa56c8ef6515; Location: San Francisco, California</option>
                <option value="b3e4125677e84e77922a562686d8e161">Id: b3e4125677e84e77922a562686d8e161; Location: Tempe, Arizona     </option>
                <option value="8cd865a6e8ce41d39095bc79340ab352">Id: 8cd865a6e8ce41d39095bc79340ab352; Location: Boston, Massachusetts</option>
                <option value="16908136951a48ed942738822cedd5c2">Id: 16908136951a48ed942738822cedd5c2; Location: Palm Harbor, Florida</option>
                <option value="3e7ab25364e14e369cac8e60c5b84eb4">Id: 3e7ab25364e14e369cac8e60c5b84eb4; Location: Baton Rouge, Louisiana</option>
                <option value="ebe2c3954f9b4a97a75c32c63b485315">Id: ebe2c3954f9b4a97a75c32c63b485315; Location: Sunnyvale, California</option>
                <option value="352562f7c1694a46a671ddea405cfdb5">Id: 352562f7c1694a46a671ddea405cfdb5; Location: Worcester, Massachusetts</option>
                <option value="3c41b1dd7a1e4fe4be98f5a069c30e75">Id: 3c41b1dd7a1e4fe4be98f5a069c30e75; Location: Irvine, California</option>
                <option value="6daa936b2b97464bbe940bf60f433162">Id: 6daa936b2b97464bbe940bf60f433162; Location: United States</option>
                <option value="06286e6a98a14dd086d16e1221368061">Id: 06286e6a98a14dd086d16e1221368061; Location: Burlingame, California</option>
                <option value="f23462c02b26443faee641350a1a3963">Id: f23462c02b26443faee641350a1a3963; Location: Hinesville, Georgia</option>
                <option value="a004fd67683e45ec84e17c552e306031">Id: a004fd67683e45ec84e17c552e306031; Location: Katy, Texas</option>
                <option value="d78a186ccc4d473384ebf02fda4a36c2">Id: d78a186ccc4d473384ebf02fda4a36c2; Location: Phoenix, Arizona</option>
                <option value="4485f41169424f70801b099b55a2a5fe">Id: 4485f41169424f70801b099b55a2a5fe; Location: Mountain View, California</option>
                <option value="d91061e16e0a48c4946413ea7669a89d">Id: d91061e16e0a48c4946413ea7669a89d; Location: Boston, Massachusetts</option>
                <option value="ef9ceabc38d84830a254c171d446dee0">Id: ef9ceabc38d84830a254c171d446dee0; Location: Boston, Massachusetts</option>
                <option value="474ed8eeb4b04a2db5f7a3eac6111324">Id: 474ed8eeb4b04a2db5f7a3eac6111324; Location: United States</option>
                <option value="177f482adc1a449284471f7c556ee8f0">Id: 177f482adc1a449284471f7c556ee8f0; Location: United States</option>
                <option value="b712ae1a97914821ba6294210043a7f2">Id: b712ae1a97914821ba6294210043a7f2; Location: Burlingame, California</option>
                <option value="64346a0c5a9e44b0a8c1afd6c9fff4ab">Id: 64346a0c5a9e44b0a8c1afd6c9fff4ab; Location: Greeley, Pennsylvania</option>
                <option value="687645c9f45a4fd09e0313bf16bcb932">Id: 687645c9f45a4fd09e0313bf16bcb932; Location: Dearborn, Michigan</option>
                <option value="622c0696372b4760b8182db229d082ab">Id: 622c0696372b4760b8182db229d082ab; Location: Montevideo, Montevideo Department, Uruguay</option>
                <option value="3686d9f5bcfb4755aeccc9a66cbae8f4">Id: 3686d9f5bcfb4755aeccc9a66cbae8f4; Location: Cambridge, Massachusetts   </option>
                <option value="3fa52f2ad0074d9aa11d5511fdd2b2d8">Id: 3fa52f2ad0074d9aa11d5511fdd2b2d8; Location: Oakland, California</option>
                <option value="92a0a4d615184c01b07684be329f9228">Id: 92a0a4d615184c01b07684be329f9228; Location: Tucson, Arizona</option>

                
            </select>
            <br>

            <label>Question Title</label>
            <input name="questions_title" style="display: block" placeholder="Study Law">
            <br>

            <label>Question Body</label>
            <textarea name="questions_body" rows="6" style="display: block" placeholder="I want to study law but not sure what subjects need to be taken, so need some advice on that."></textarea>
            <br>

            <label>Question Tags</label>
            <input name="questions_tags" style="display: block" placeholder="law justice judge">
            <br>

            <!--<button type="submit">Submit</button>-->
            <button type="reset">Clear</button>
        </form>

        <div style="display: block; margin-left: 32px;">
            <div id="questions_empty" style="display: flex; align-items: center; justify-content: center; width: 320px;"
                 class="show">
                Please, fill form and submit it
            </div>

            <table id="questions_table" style="display: block; word-break: break-all;" class="hide">
                <thead>
                <tr>
                    <th style="width: 10%">score</th>
                    <th style="width: 20%">title</th>
                    <th style="width: 20%">body</th>
                    <th style="width: 10%">tags</th>
                    <th style="width: 10%">date</th>
                    <th style="width: 10%">question_id</th>
                    <th style="width: 10%">author_id</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="professionals_content" class="content hide">
    <div style="margin-bottom: 20px;"><b>Finds relevant questions for professional to answer</b></div>
    <div style="display: flex;">
        <form id="professionals_form" style="display: block; min-width: 320px;">
            <label>Professional Selector</label>
            <select name="professionals_id" style="display: block">
                <option value="5aa9f41cb958462bb1851aa5d65ccdb4">Id: 5aa9f41cb958462bb1851aa5d65ccdb4, location: Omaha, Nebraska; <br>industry: Professional Training & Coaching; headline: Customer Experience Coach Trust and Safety at LinkedIn</option>
                <option value="193855220e41415abfb2e0fa9b0e1b49">Id: 193855220e41415abfb2e0fa9b0e1b49; location: Corry, Pennsylvania; industry: International Trade and Development; headline: Program Manager  </option>
                <option value="193855220e41415abfb2e0fa9b0e1b49">Id: 193855220e41415abfb2e0fa9b0e1b49; location: Indiana, Indiana; industry: Marketing and Advertising; headline: Graduate from the University of Southern Indiana</option>
                <option value="436fbd36c1174ec2acb209447ea02b05">Id: 436fbd36c1174ec2acb209447ea02b05; location: Turkey; industry: Information Technology and Services; headline: Computer Engineer</option>
                <option value="2fee499ed10e47eaae26b1a7857d4abb">Id: 2fee499ed10e47eaae26b1a7857d4abb; location: Bengaluru, Karnataka, India; industry: Consumer Services; headline: Resolution Expert at Dell International Service</option>
                <option value="90d765228635419d897903547ee8aec9">Id: 90d765228635419d897903547ee8aec9; location: Hartford, Connecticut; industry: Entertainment; headline: Software Engineer at ESPN</option>
                <option value="84860938a5984b149fe057361a1d5246">Id: 84860938a5984b149fe057361a1d5246; location: Edenton, North Carolina; industry: Telecommunications; headline: Sr. Analyst Security Operations</option>
                <option value="3669e96b4a1f4e06bcf96e4fb731e637">Id: 3669e96b4a1f4e06bcf96e4fb731e637; location: Boston, Massachusetts; industry: Automotive; headline: Control Systems Architect at XL Hybrids</option>
                <option value="da49a9469fb644bd9cf40b6d0e50ce8c">Id: da49a9469fb644bd9cf40b6d0e50ce8c; location: San Antonio, Texas; industry: Consumer Services; headline: Elementary School Teacher at Travis Elementary School</option>
                <option value="62d6d5a46d6b480a8c77b3fa3edce2f7">Id: 62d6d5a46d6b480a8c77b3fa3edce2f7; location: Los Angeles, California; industry: Corporate Social Responsibility; headline: Manager, Corporate Citizenship at DIRECTV</option>
                <option value="8c8842ce6adb4594be1edf9755073ea9">Id: 8c8842ce6adb4594be1edf9755073ea9; location: Saint Petersburg, Florida; industry: Marketing and Advertising; headline: Building brands as a copywriter</option>
                <option value="ad2b9dfae6974b9cbbe3d01e1a345b9d">Id: ad2b9dfae6974b9cbbe3d01e1a345b9d; location: Fort Mill, South Carolina; industry: Music; headline: Self-Employed Musician</option>
                <option value="5141c968e3e14d45b850e2e17911e254">Id: 5141c968e3e14d45b850e2e17911e254; location: St. Louis, Missouri; industry: Environmental Services; headline: Unemployed Geologist looking for work</option>
                <option value="dff250f40c9f4e20af7dffa07fd567c5">Id: dff250f40c9f4e20af7dffa07fd567c5; location: Tampa/St. Petersburg, Florida Area; industry: Higher Education; headline: French Professor at Southeastern University</option>
                <option value="41d0ec69657649ddb3bd8158d27cd464">Id: 41d0ec69657649ddb3bd8158d27cd464; location: Woodbridge Township, New Jersey; headline: Product Development Director</option>
                <option value="a7b24f5f0a1b491ebfb48eeda91e0c3a">Id: a7b24f5f0a1b491ebfb48eeda91e0c3a; location: Hermosillo Area, Mexico; industry: Arts and Crafts; headline: Escultor</option>
                <option value="7bb99a73910b4e0b8817a0ac49333f51">Id: 7bb99a73910b4e0b8817a0ac49333f51; location: San Francisco, California ; industry: Financial Services; headline: Assurance Associate at PwC</option>
                <option value="d008c21c6b7348e3b30d9a18e5c0c53a">Id: d008c21c6b7348e3b30d9a18e5c0c53a; location: San Francisco, California ; industry: Higher Education; headline: Writer in Residence at Banff Centre for Arts</option>
                <option value="4e0f59adabd34e8aa54d4964538e4f96">Id: 4e0f59adabd34e8aa54d4964538e4f96; location: Greater Los Angeles Area; industry: Education Management; headline: Independent Consultant</option>
                <option value="370ce83253c64bc1b64bef347f30709a">Id: 370ce83253c64bc1b64bef347f30709a; location: Houston, Texas Area; industry: Psychology; headline: Independent Consultant</option>
                <option value="53488be2f1fc431f8431f8ca79bbc916">Id: 53488be2f1fc431f8431f8ca79bbc916; location: Dallas, Texas; industry: Information Technology and Services; headline: Business Productivity Consultant at Microsoft</option>
                <option value="fc0e45507ca54711962145db934c4e49">Id: fc0e45507ca54711962145db934c4e49; location: Greater Seattle Area; industry: Music; headline: Music Licensing and Supervision</option>
                <option value="ced7e6edf76646a59bfd4198fbecc54c">Id: ced7e6edf76646a59bfd4198fbecc54c; location: Chicago, Illinois</option>
                <option value="5883cbf6fb7d4300a0854048206f0d46">Id: 5883cbf6fb7d4300a0854048206f0d46; location: Greater New York City Area; industry: Writing and Editing; headline: Seeking an entry-level writing position</option>
                <option value="b9a6e9b82e324b77b8cfb748a1dae040">Id: b9a6e9b82e324b77b8cfb748a1dae040; location: West New York, New Jersey; industry: Health, Wellness and Fitness; headline: BIOLOGIST-ZOOLOGIST</option>
                <option value="5e655d0f65844fe3bd5fbd3b49f91d4c">Id: 5e655d0f65844fe3bd5fbd3b49f91d4c; location: Saint Peter, Minnesota; headline: Proud Ethio-American #Gustavusbound</option>
                <option value="39b7b9c0514142f38523b134909a0072">Id: 39b7b9c0514142f38523b134909a0072; location: Greater New York City Area; industry: Mental Health Care; headline: Experienced Human Service Professional trained</option>
                <option value="378e589b0205459a9b490b01aa6791a0">Id: 378e589b0205459a9b490b01aa6791a0; location: Alpharetta, Georgia; industry: Telecommunications; headline: PMO Sr. Analyst</option>
                <option value="4a0366a347124072a8c5f4a8fb63eaa0">Id: 4a0366a347124072a8c5f4a8fb63eaa0; location: Greater Philadelphia Area; industry: Research; headline: Research Assistant at Temple University Infanta</option>
                <option value="08f9ac2e70fe40d7a1328d0c13004c5b">Id: 08f9ac2e70fe40d7a1328d0c13004c5b; location: San Francisco Bay Area; industry: Marketing and Advertising; headline: Sales & Events @ Okta</option>
                <option value="f4686f96ae00414a9f11177df0ac35e5">Id: f4686f96ae00414a9f11177df0ac35e5; location: Sunnyvale, California; industry: Consulting / Professional Services; headline: Experienced Associate at PwC Advisory</option>

            </select>
            <br>

            <button type="submit">Submit</button>
            <button type="reset">Clear</button>
        </form>

        <div style="display: block; margin-left: 32px;">
            <div id="professionals_empty"
                 style="display: flex; align-items: center; justify-content: center; width: 320px;"
                 class="show">
                Please, fill form and submit it
            </div>

            <table id="professionals_table" style="display: block; word-break: break-all;" class="hide">
                <thead>
                <tr>
                    <th style="width: 10%">score</th>
                    <th style="width: 20%">title</th>
                    <th style="width: 20%">body</th>
                    <th style="width: 10%">tags</th>
                    <th style="width: 10%">date</th>
                    <th style="width: 10%">question_id</th>
                    <th style="width: 10%">author_id</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div><i>by <a href="https://datarootlabs.com">data root labs</a> team</i></div>
</body>

<script>
    var apiPath = "/api"

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();

        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $("#questions_tab").on('click', function (e) {
        $(this).addClass("tab_active")
        $("#professionals_tab").removeClass("tab_active")
        $("#questions_content").addClass("show").removeClass("hide")
        $("#professionals_content").addClass("hide").removeClass("show")
    })

    $("#professionals_tab").on('click', function (e) {
        $(this).addClass("tab_active")
        $("#questions_tab").removeClass("tab_active")
        $("#professionals_content").addClass("show").removeClass("hide")
        $("#questions_content").addClass("hide").removeClass("show")
    })

    $("#questions_form").on('input', function (e) {
        e.preventDefault();
        var data = $(this).serializeObject()

        $.ajax({
            url: apiPath + '/question',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data) {
                console.log("ok")
                console.log(data)

                $("#questions_empty").addClass("hide").removeClass("show")
                $("#questions_table").addClass("show").removeClass("hide")

                $("#questions_table>tbody").empty();

                $.each(data, function () {
                    $("#questions_table>tbody").append('<tr><td><b>' + this.match_score + '</b></td><td>' + this.questions_title + '</td><td>' + this.questions_body + '</td><td>' + this.tags_tag_name + '</td><td>' + this.questions_date_added + '</td><td>' + this.questions_id + '</td><td>' + this.questions_author_id + '</td></tr>')
                })
            },
            error: function (e) {
                console.log(e)
            }
        });
    }).on('reset', function (e) {
        console.log("clear")
        $("#questions_table").addClass("hide").removeClass("show")
        $("#questions_empty").addClass("show").removeClass("hide")
    })

    $("#professionals_form").on('input, submit', function (e) {
        e.preventDefault();
        var data = $(this).serializeObject()

        $.ajax({
            url: apiPath + '/professional',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data) {
                console.log("ok")
                console.log(data)

                $("#professionals_empty").addClass("hide").removeClass("show")
                $("#professionals_table").addClass("show").removeClass("hide")

                $("#professionals_table>tbody").empty();

                $.each(data, function () {
                    $("#professionals_table>tbody").append('<tr><td><b>' + this.match_score + '</b></td><td>' + this.questions_title + '</td><td>' + this.questions_body + '</td><td>' + this.tags_tag_name + '</td><td>' + this.questions_date_added + '</td><td>' + this.questions_id + '</td><td>' + this.questions_author_id + '</td></tr>')
                })
            }
        });
    }).on('reset', function (e) {
        console.log("clear")
        $("#professionals_table").addClass("hide").removeClass("show")
        $("#professionals_empty").addClass("show").removeClass("hide")
    })
</script>
</html>
