<html>
<head>
    <title>Kaggle CV Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <style type="text/css">
        * {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
        }

        .show {
            display: block;
        }

        .hide {
            display: none !important;
        }

        .tab {
            padding: 8px 16px;
            cursor: pointer;
            width: 256px;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
        }

        .tab_active {
            border-bottom: 2px solid black;
        }

        .content {
            padding: 32px;
            margin-top: 8px;
            border: 1px solid black;
        }

        table, tr {
            font-size: 12px !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th, td {
            padding: 4px 12px;
            font-size: inherit;
        }

        select, input, textarea {
            width: 100%;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

    </style>
</head>

<body style="margin: 32px;">
<h2 style="font-size: 24px;">Kaggle CV Demo</h2>
<div style="display: flex;">
    <div id="questions_tab" class="tab tab_active">
        Question
    </div>
    <div id="professionals_tab" class="tab">
        Professional
    </div>
</div>
<div id="questions_content" class="content show">
    <div style="display: flex;">
        <form id="questions_form" style="display: block; min-width: 320px;">
            <label>Student selector</label>
            <select name="questions_author_id" style="display: block">
                <option value="8f6f374ffd834d258ab69d376dd998f5">Student 1 a lot of info</option>
            </select>
            <br>

            <label>Title</label>
            <input name="questions_title" style="display: block">
            <br>

            <label>Body</label>
            <textarea name="questions_body" rows="6" style="display: block"></textarea>
            <br>

            <label>Tags</label>
            <input name="questions_tags" style="display: block">
            <br>

            <!--<button type="submit">Submit</button>-->
            <button type="reset">Clear</button>
        </form>

        <div style="display: block; margin-left: 32px;">
            <div id="questions_empty" style="display: flex; align-items: center; justify-content: center; width: 320px;"
                 class="show">
                Please, fill form and submit it
            </div>

            <table id="questions_table" style="display: block; word-break: break-all;" class="hide">
                <thead>
                <tr>
                    <th style="width: 10%">id</th>
                    <th style="width: 10%">score</th>
                    <th style="width: 10%">author_id</th>
                    <th style="width: 30%">body</th>
                    <th style="width: 10%">date</th>
                    <th style="width: 10%">id</th>
                    <th style="width: 10%">title</th>
                    <th style="width: 10%">tags</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="professionals_content" class="content hide">
    <div style="display: flex;">
        <form id="professionals_form" style="display: block; min-width: 320px;">
            <label>Student selector</label>
            <select name="professionals_id" style="display: block">
                <option value="8f6f374ffd834d258ab69d376dd998f5">Student 1 a lot of info</option>
            </select>
            <br>

            <button type="submit">Submit</button>
            <button type="reset">Clear</button>
        </form>

        <div style="display: block; margin-left: 32px;">
            <div id="professionals_empty"
                 style="display: flex; align-items: center; justify-content: center; width: 320px;"
                 class="show">
                Please, fill form and submit it
            </div>

            <table id="professionals_table" style="display: block; word-break: break-all;" class="hide">
                <thead>
                <tr>
                    <th style="width: 10%">id</th>
                    <th style="width: 10%">score</th>
                    <th style="width: 10%">date_joined</th>
                    <th style="width: 10%">headline</th>
                    <th style="width: 10%">id</th>
                    <th style="width: 10%">industry</th>
                    <th style="width: 10%">location</th>
                    <th style="width: 10%">tags</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
</body>

<script>
    var apiPath = "/api"

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();

        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $("#questions_tab").on('click', function (e) {
        $(this).addClass("tab_active")
        $("#professionals_tab").removeClass("tab_active")
        $("#questions_content").addClass("show").removeClass("hide")
        $("#professionals_content").addClass("hide").removeClass("show")
    })

    $("#professionals_tab").on('click', function (e) {
        $(this).addClass("tab_active")
        $("#questions_tab").removeClass("tab_active")
        $("#professionals_content").addClass("show").removeClass("hide")
        $("#questions_content").addClass("hide").removeClass("show")
    })

    $("#questions_form").on('input', function (e) {
        e.preventDefault();
        var data = $(this).serializeObject()

        // if (data.questions_author_id.length === 0 ||
        //     data.questions_title.length === 0 ||
        //     data.questions_body.length === 0 ||
        //     data.questions_tags.length === 0) {
        //     window.alert("Please, fill all the fields!")
        //     return false;
        // }

        $.ajax({
            url: apiPath + '/question',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data) {
                console.log("ok")
                console.log(data)

                $("#questions_empty").addClass("hide").removeClass("show")
                $("#questions_table").addClass("show").removeClass("hide")

                $("#questions_table>tbody").empty();

                $.each(data, function () {
                    $("#questions_table>tbody").append('<tr><td>' + this.id + '</td><td>' + this.match_score + '</td><td>' + this.questions_author_id + '</td><td>' + this.questions_body + '</td><td>' + this.questions_date_added + '</td><td>' + this.questions_id + '</td><td>' + this.questions_title + '</td><td>' + this.tags_tag_name + '</td></tr>')
                })
            },
            error: function (e) {
                console.log(e)
            }
        });
    }).on('reset', function (e) {
        console.log("clear")
        $("#questions_table").addClass("hide").removeClass("show")
        $("#questions_empty").addClass("show").removeClass("hide")
    })

    $("#professionals_form").on('input, submit', function (e) {
        e.preventDefault();
        var data = $(this).serializeObject()

        // if (data.questions_author_id.length === 0 ||
        //     data.questions_title.length === 0 ||
        //     data.questions_body.length === 0 ||
        //     data.questions_tags.length === 0) {
        //     window.alert("Please, fill all the fields!")
        //     return false;
        // }

        $.ajax({
            url: apiPath + '/professional',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data) {
                console.log("ok")
                console.log(data)

                $("#professionals_empty").addClass("hide").removeClass("show")
                $("#professionals_table").addClass("show").removeClass("hide")

                $("#professionals_table>tbody").empty();

                $.each(data, function () {
                    $("#professionals_table>tbody").append('<tr><td>' + this.id + '</td><td>' + this.match_score + '</td><td>' + this.professionals_date_joined + '</td><td>' + this.professionals_headline + '</td><td>' + this.professionals_id + '</td><td>' + this.professionals_industry + '</td><td>' + this.professionals_location + '</td><td>' + this.tags_tag_name + '</td></tr>')
                })
            }
        });
    }).on('reset', function (e) {
        console.log("clear")
        $("#professionals_table").addClass("hide").removeClass("show")
        $("#professionals_empty").addClass("show").removeClass("hide")
    })
</script>
</html>
